*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #232b3b;
}
#logo{
    position:relative;
    width: 150px;
    margin: 0;
    padding: 0;
    top: -65px;
}
header{
    background-color: aliceblue;
    padding: 20px;
    height: 30px;
    
}
main{
    
    display: flex;
    justify-content: center;
    text-align: center;
}
#menu{
    position: relative;
    float: right;
    padding-bottom: 20px;
}
#home{
    position: relative;
    /*background-color: blueviolet;*/
    display: flex;
    width: 80%;
    margin: 50px;
    padding: 30px;   
}
#home img{
    position: absolute;
    top: 0;
    left: 500px;
    z-index: -1;
    object-fit: cover;
    opacity: 0.6;
}
#home h1{
    margin-bottom: 20px;
    text-transform: capitalize;
}
#home p{
    text-align: left;
}
#bnticon img{
    width: 10px;
}
#jnLogin{
    background-color: white;
    position: relative;
    justify-content: center;
    display: none;
}
#contatos{
    display: none;
}
#titulo{
    color: aquamarine;
}